body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.Logo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
nav {
    display: flex;
    background-color: rgb(28, 28, 28);
    padding: 5px;
    position: fixed;
    right: 0;
    left: 0;
    justify-content: space-between;
    
}
nav div {
    padding-right: 20px;
    display: flex;
    align-items: center;
    
}
nav div img {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;

}
input {
    background-color: rgb(68, 67, 69);
    color: rgb(227, 223, 223);
    border: none;
    margin-left: 10px;
    height: 25px;
    border-radius: 19px;
    padding: 7px;
}
input ::placeholder{
    color: rgb(255, 240, 240);
    padding: 5px;
}
li {
    display: flex;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: white;
    width: 14em;
    height: 3.5em;
}
ul {
   margin-top: 3px;
    padding: 0;
    height: 100%;
    position: fixed;
}
.Profil {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 0.5px solid black;
}
li img {
    margin-right: 5px;
    margin-left: 10px;
}
.amis li {
    padding: 10px;
   
    
}
.amis {
    right: 0;
}
.layout {
    display: flex;
    justify-content: space-between;
    background-color: rgb(72, 71, 71);
    
}
.Post {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    color: rgb(227, 227, 227);
    border: 1px black solid;
    height: min-content;
    width: min-content;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
   
}
section {
    margin-left: 300px;
}
.Head {
    display: flex;
    flex-direction: row;
}
.Head b,p {
    margin: 0;
    margin-left: 10px;
}
.Contenu img {
    padding: 5px;
    height: 25em;
    width: 30em;
    border-radius: 3px;

}
.Contenu p{
   
    width: 500px;
    
}
.Icons {
    justify-content: space-evenly;
    gap: 45px;
    padding-right: 100px;

}
b {
    color: rgb(48, 48, 161);
    text-decoration: underline;
}
.color-selected {
    border: 1.5px solid rgb(126, 126, 126);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25 ease;
}
.Color-Selecter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Color-Selecter p {
    font-size: 3em;
    color: rgb(208, 207, 207);

}
input[type="color"]{
    height: 40px;
    width: 70px;
}
.Color-Selecter input {
    background-color: white;
    border: none;
    
}
.Color-Selecter label {
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.Icons-barre {
    height: 40px;
}
.likes-comms {
    display: flex;
    justify-content: space-around;
}
.likes-comms p {
    border: 1px grey solid;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    padding: 2px;

}