li {
    border: solid 1px black;
    padding: 10px;
    margin: 5px;
    background-color: blueviolet;
    color: white;
    width: 50%;

}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(224, 38, 38);
    align-items: center;
    height: 50px;
}
a  {
    color: green;
    font-size: x-large;
    text-decoration: none;
    
}